<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="terrasoft" type="Terrasoft.Core.AppConfigurationSectionGroup, Terrasoft.Core">
      <sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
        <section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
        <section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <terrasoft>
    <resources>
      <cultures>
        <culture name="ru-Ru" />
        <culture name="en-US" />
      </cultures>
      <generalSettings resourceDirectory=".\Resources" primaryCulture="ru"/>
    </resources>
  </terrasoft>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpUserServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
				 transactionFlow="true" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="65536" maxReceivedMessageSize="2000000000"
				 messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000" maxArrayLength="65536"
					 maxBytesPerRead="65536" maxNameTableCharCount="65536" />
          <reliableSession enabled="false" />
          <security mode="None">
          </security>
        </binding>
        <binding name="wsHttpsUserServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
				 receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
				 transactionFlow="true" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="65536" maxReceivedMessageSize="2000000000"
				 messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
				 allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000" maxArrayLength="65536"
					 maxBytesPerRead="65536" maxNameTableCharCount="65536" />
          <reliableSession enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpUserServiceBinding"
			 contract="Terrasoft.Core.ServiceModelContract.IUserService" name="UserServiceHttpEndPoint" />

      <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpsUserServiceBinding"
			 contract="Terrasoft.Core.ServiceModelContract.IUserService" name="UserServiceHttpsEndPoint" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>